$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Gray thang */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  h1 {
    font-size: 22px;
    text-align: center;
  }
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/////////////////////////////////////////////////////////////////////////////// 
// Graph-chart bizness start
/////////////////////////////////////////////////////////////////////////////// 
#chart {                                                          
  height: 360px;
  margin: 0 auto;                                                  
  position: relative;                                             
  width: 360px;                                                   
}

#d3-tooltip {
    position: absolute;
    text-align: center;
    width: 40px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#d3-tooltip.hidden {
    display: none;
}
#d3-tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.legend {
  font-size: 12px;
}
rect {
  cursor: pointer;
  stroke-width: 2;
  &.disabled {
    fill: transparent !important;
  }
}

.axis path,
.axis line {
  fill: none;
  stroke: tomato;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}


// x axis: '', 'translate(' + 5 + ',' + (height - 20) + ')')
// y axis: 'transform', 'translate(' + 5 + ', 0)'

/////////////////////////////////////////////////////////////////////////////// 
// chart bizness end
/////////////////////////////////////////////////////////////////////////////// 



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
