$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #444444;
}

/////////////////////////////////////////////////////////////////////////////// 
// Graph-chart bizness start
/////////////////////////////////////////////////////////////////////////////// 
#d3-footer-tooltip {
    position: absolute;
    text-align: center;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#d3-footer-tooltip.hidden {
    display: none;
}
#d3-footer-tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

// For the labels
.shadow {
  text-shadow: 0px 2px 3px #555;
}

.footer-axis path,
.footer-axis line {
  fill: none;
  stroke: #444444;
  shape-rendering: crispEdges;
}

.footer-axis text {
  font-family: sans-serif;
  font-size: 11px;
}

/////////////////////////////////////////////////////////////////////////////// 
// chart bizness end
/////////////////////////////////////////////////////////////////////////////// 
// todo: Delete this after testing in the SW footer, if not needed
// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }

//   /* Remove the padding we set earlier */
//   .header,
//   .footer {
//     padding-left: 0;
//     padding-right: 0;
//   }

//   /* Space out the masthead */
//   .header {
//     margin-bottom: 30px;
//   }

//   /* Remove the bottom border on the jumbotron for visual effect */
//   .jumbotron {
//     border-bottom: 0;
//   }
// }
