# Downloaded packages
node_modules
bower_components

# Things that are compiled
# dist # commit this because Heroku needs it to deploy
.tmp
.sass-cache

# Misc
.DS_Store
notes.md
1.txt
app/scripts/info_dump.js
app/scripts/sandbox.js
submission.md