# Downloaded packages
node_modules
bower_components

# Things that are compiled
dist
.tmp
.sass-cache

# Misc
.DS_Store
notes.md
1.txt
app/scripts/dump.js
app/scripts/info_dump.js
app/scripts/tickets.json